.loginBox{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin: 20% auto;
}

.loginBox>input,.loginBox button{
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

.eroare{
    color: red;
}