.ProductList{
    width:50%;
    margin:0 25%;
    padding: 10px 20px;
    text-align:left;
    border-style: solid;
}

.header{
    display: flex;
    align-items:center;
}

.addCategory{
    border-radius:5px;
    padding: 5px;
    font-size: 20px;
    margin-left: auto;
}

.addCategoryDialog{
    width: auto !important;
}