.Product{
    display:flex;
    margin: 10px 0 10px 10px;
}

.Product button{
    margin-left: 10px;
}

.availableButton{
    margin-left:20px;
    border-radius:5px;
    font-size: 10px;
    padding: 0px 5px;
}

.removeProduct{
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
    background-color: transparent;
    border-style: none;
}

.addProductDialog{
    width: auto !important;
}

.addProductDialog .p-inputtext{
    margin: 0 10px;
}

.expiryWarning{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left: 100px;
}

.toRight{
    margin-left: auto !important;
    display: flex;
    justify-content:center;
    align-items:center;
}