.Friend{
    margin: 20px 0 20px 30px;
    display: flex;
    align-items:center;
}

.seeList{
    border-radius:5px;
    padding: 5px;
    font-size: 15px;
}

.inviteButton{
    margin-left:10px;
    border-radius:5px;
    padding: 5px;
    font-size: 15px;
}

.friendActions{
    margin-left: auto;
}