.title{
    font-size: 40px;
}

.buttons{
    margin-left: auto;
}

.buttons .removeGroup, .buttons .addFriend{
    padding: 5px;
    font-size: 20px;
    background-color: transparent;
    border-style: none;
}

.removeGroup{
    margin-left: 10px
}

.leaveGroup{
    border-radius:5px;
    padding: 5px;
    font-size: 15px;
}
