.Product{
    display:flex;
    margin: 10px 0 10px 10px;
}

.claimButton{
    margin-left:auto !important;
    border-radius:5px;
    font-size: 10px;
    padding: 0px 5px;
}

.expiryWarning{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left: 100px;
}

.claimedText{
    margin-left: auto;
}
